"*":
  core:
    disabledPackages: [
      "language-hyperlink"
      "flow-ide"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "c68b8575-8ce5-4d1d-3739-65b540f7901d"
  "file-types":
    js: "source.js.jsx"
  "flow-ide": {}
  "git-control":
    showGitFlowButton: false
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter:
    errorPanelHeight: 35
  "linter-eslint": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "one-dark-ui": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".attribute-values.js.jsx.source":
  editor:
    tabLength: 4
".js.jsx.react.source":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    tabLength: 4
".js.source.subtlegradient":
  editor:
    tabLength: 4
